@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* * {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.map-highlight {
  animation: map-highlight-pulse 3s ease-in-out infinite;
}

@keyframes map-highlight-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
