@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
